<div class="home">
    <mat-icon aria-hidden="false" aria-label="Example home icon" mat-align="end">home</mat-icon>
    <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
      <mat-tab label="Home">
          Home
          <span>text text text text text text text text text text text text text text </span>
      </mat-tab>
      <mat-tab label="DayCare">DayCare</mat-tab>
      <mat-tab label="Training">Training</mat-tab>
      <mat-tab label="Contacts">Contacts</mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First
      </ng-template>
    </mat-tab-group>
</div>